/*importing remote fonts*/
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500&family=Urbanist:wght@400;500&display=swap');

/*default elements*/
:root {
    ---main_color: #2B2E4A;
    ---drop_shadow: #BB8082 0px 0px 10px;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(24,18,42,1) 23%, rgba(0,212,255,1) 100%);
    margin: 0px;
    height: 1300px;
}

nav {
    width: 50%;
    margin: auto;
    text-align: center;
    height: auto;
    overflow: hidden;
    position: fixed;
    top: 0;
}

/*classes*/
.button_header {
    background-color: #2b2e4a00;
    margin-top: 5px;
    margin-right: 20px;
    margin-left: 20px;
    height: 35px;
    width: auto;
    border: 0;
    float: left;
    color: white;
    font-family: 'Urbanist', sans-serif;
    font-size: 25px;
    cursor: pointer;
}

/*classes using pseudo-classes*/
.button_header:hover {
    text-shadow: none;
    text-shadow: white 0px 0px 10px;
}

/*id tags*/
#text_header {
    color: white;
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    font-size: 50px;
}

#button_theme {
    margin: 20px;
    float: left;
}

/*placeholders*/
#selfie_placeholder {
    width: 300px;
    height: 300px;
    margin: auto;
    background-color: white;
    border-radius: 30px;
    text-align: center;
}